{% from "design-system/component.njk" import c %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title }} - Inclusive Design Guide Design System</title>
    <meta property="og:type" content="website" />
    <script>document.documentElement.className = document.documentElement.className.replace("no-js", "js");</script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block inner %}{% endblock %}
  </body>
</html>
