{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/static/design-system/css/reset.css" />
  <link rel="stylesheet" href="/static/design-system/css/design-system.css" />
{% endblock %}

{% block inner %}
  <div class="ds">
    <div class="ds__body">
      {% include "./sidebar.njk" %}
      <main class="ds__main ds-stretch">
        <div class="ds-prose ds-prose--with-lede">
          <h1>{{ title }}</h1>
          {{ content | safe }}
        </div>
      </main>
    </div>
  </div>

{% endblock %}
