<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="media-type" viewBox="0 0 16 16">
      {% include './../../static/svg/media-type.svg' %}
    </symbol>
    <symbol id="readability" viewBox="0 0 18 18">
      {% include './../../static/svg/readability.svg' %}
    </symbol>
    <symbol id="tags" viewBox="0 0 19 17">
      {% include './../../static/svg/tags.svg' %}
    </symbol>
    <symbol id="topics" viewBox="0 0 15 15">
      {% include './../../static/svg/topics.svg' %}
    </symbol>
    <symbol viewBox="0 0 16 26" id="previous">
      <path transform="rotate(180)" stroke-miterlimit="2" stroke-linecap="round" transform-origin="50% 50%" stroke-linejoin="round" d="m1.014 24.99 13.971-12.032L1.014 1.01"/><path stroke="var(--vertical, currentColor)" d="M14.985 1.01v23.98"/>
    </symbol>
    <symbol viewBox="0 0 16 26" id="next">
      <path stroke-miterlimit="2" stroke-linecap="round" stroke-linejoin="round" d="m1.014 1.01 13.971 12.032L1.014 24.99"/><path stroke="var(--vertical, currentColor)" d="M1.014 1.01v23.98"/>
    </symbol>
</svg>