a:not([class]) {
    color: var(--fl-linkColor, var(--blue-450));
    font-weight: 700;
    text-decoration: none;
}

a:not([class]):hover,
a:not([class]):focus {
    background-color: var(--fl-linkColor, var(--gold-150));
    color: var(--fl-bgColor, var(--blue-450));
}

a.cta {
    background-color: var(--fl-bgColor, var(--white));
    border: solid calc(1 / 16 * 1rem) var(--fl-fgColor, var(--black));
    border-radius: calc(4.4375rem / 2);
    color: var(--fl-fgColor, var(--black));
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    font-weight: 500;
    height: 4.4375rem;
    padding-block: 1rem;
    padding-inline: 2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
}

a.cta:hover,
a.cta:focus {
    background: var(--fl-bgColor, var(--gold-150));
    box-shadow: inset 0 0 0 calc(3 / 16 * 1rem) var(--black);
    outline-color: transparent;
}
