
<nav aria-label="pagination" class="pagination">
    <ul class="pagination-list">
        <li>
            <a href="#1" class="pagination-previous">
                <svg>
                    <use xlink:href="#previous"></use>
                </svg>
                <span class="screen-reader-only">previous</span>
            </a>
        </li>
        <li>
            <a href="#1" class="pagination-link">1</a>
        </li>
        <li>
            <a href="#2" aria-current="page" class="pagination-link">2</a>
        </li>
        <li class="hide-on-mobile">
            <a href="#3" class="pagination-link">3</a>
        </li>
        <li class="pagination-ellipsis">
            <span>…</span>
        </li>
        <li>
            <a href="#10" class="pagination-link">10</a>
        </li>
        <li>
            <a href="#2" class="pagination-next">
                <svg>
                    <use xlink:href="#next"></use>
                </svg>
                <span class="screen-reader-only">next</span>
            </a>
        </li>
    </ul>
</nav>