


<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol viewBox="0 0 16 26" id="previous"><path transform="rotate(180)" stroke-miterlimit="2" stroke-linecap="round" transform-origin="50% 50%" stroke-linejoin="round" d="m1.014 24.99 13.971-12.032L1.014 1.01"/><path stroke="var(--vertical, currentColor)" d="M14.985 1.01v23.98"/></symbol>
    <symbol viewBox="0 0 16 26" id="next"><path stroke-miterlimit="2" stroke-linecap="round" stroke-linejoin="round" d="m1.014 1.01 13.971 12.032L1.014 24.99"/><path stroke="var(--vertical, currentColor)" d="M1.014 1.01v23.98"/></symbol>
</svg>
<nav aria-label="pagination" class="pagination">
    <ul class="pagination-list">
        <li>
            <a href="#1" class="pagination-previous">
                <svg>
                    <use xlink:href="#previous"></use>
                </svg>
                <span class="screen-reader-only">previous</span>
            </a>
        </li>
        <li>
            <a href="#1" class="pagination-link">1</a>
        </li>
        <li>
            <a href="#2" aria-current="page" class="pagination-link">2</a>
        </li>
        <li class="hide-on-mobile">
            <a href="#3" class="pagination-link">3</a>
        </li>
        <li class="pagination-ellipsis">
            <span>…</span>
        </li>
        <li>
            <a href="#10" class="pagination-link">10</a>
        </li>
        <li>
            <a href="#2" class="pagination-next">
                <svg>
                    <use xlink:href="#next"></use>
                </svg>
                <span class="screen-reader-only">next</span>
            </a>
        </li>
    </ul>
</nav>